.book-reader {
    display: flex;

    .book-pages {
        transition: all 0.5s;
    }

    .pdf-viewer-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        height: 64px;

        .home-button {
            padding: 4px 8px;
            background-color: #fff;
            box-shadow: 0px 1px 4px 0.5px #00000048;
            border-radius: 24px;
            border-bottom-left-radius: 0;
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            transition: all .5s;

            i {
                font-size: 24px;
                color: #7a10c5;

                &.bi-house-fill {
                    font-size: 28px;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        h1 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: #1A1A1A;
            padding: 16px;
            margin: 0;
            padding: 0;
            color: #7a10c5;
            // position: sticky;
            // top: 0;
        }

        button {
            background-color: #7a10c5;
            padding: 8px 16px;
            border: none;
            box-shadow: 0px 1px 4px 0.5px #00000048;
            border-radius: 24px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2px;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .pdf-viewer-box {
        width: 60vw;
        margin: 0 auto;

        .pdf-viewer {
            width: 100%;
            margin: 0 auto;
        }
    }

    .progress-bar {
        width: 100%;
        background-color: #7a10c542;
        border-radius: 0;

        .progress {
            background-color: #7a10c5;
            height: 8px;
            transition: all .5s;
            border-radius: 0;
        }
    }


    .right-section {
        box-shadow: 0px 1px 4px 0.5px #00000048;
        width: 40%;
        height: 100vh;
        overflow: auto;
        position: relative;

        * {
            user-select: none;
        }

        .tabs {
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            box-shadow: 0px 1px 4px 0.5px #00000048;
            z-index: 999;
            background-color: #fff;

            &>div {
                padding: 16px;
                width: 25%;
                box-sizing: border-box;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                text-align: center;
                transition: all 0.5s;
                border-bottom: 2px solid #fff;

                &:hover {
                    background-color: #cccccca6;
                }

                &.active {
                    border-bottom: 2px solid #7a10c5;
                    color: #7a10c5;
                }
            }
        }

        .loader {
            margin: 10px;
            font-weight: bold;
            color: #ae1a1a;
        }


        .page-summary,
        .page-socab,
        .page-translate {
            width: 100%;
            padding: 16px;
        }

        .word-container {
            margin: 20px 0;
            border: 1px solid;
            padding: 16px;
            border-radius: 16px;

            .word {
                font-weight: bold;
                font-size: 16px;
                text-transform: capitalize;
                text-decoration: underline;
            }
    
            .meaning,
            .synonym,
            .example {
                margin-left: 10px;
                font-size: 14px;
            }
        }


        .summary-container {
            margin: 20px 0;
        }

        .cultural-info-container {
            margin-top: 30px;

            .cultural-info {
                margin-bottom: 20px;
                border: 1px solid;
                padding: 16px;
                border-radius: 16px;
            }
        }

        .cultural-inference,
        .relevance,
        .additional-info {
            margin-left: 10px;
        }

        .loading {
            color: blue;
            font-weight: bold;
        }

        .page-translate {
            .languages {
                display: flex;
                justify-content: center;
                border: 1px solid;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 16px;

                &>div {
                    padding: 8px;
                    text-align: center;
                    flex: 1;
                    border-right: 1px solid;
                    cursor: pointer;
                    box-sizing: border-box;

                    &:last-child {
                        border-right: none;
                    }

                    &:hover {
                        opacity: 0.6;
                    }

                    &.active {
                        background-color: #7a10c587;
                        color: #fff;
                    }
                }
            }
        }
    }
}