.book-list-component {
    padding: 20px;
    width: 60%;
    margin: 0 auto;

    h1 {
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 24px;
    }
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-card {
    display: flex;
    width: calc(50% - 20px);
    height: max-content;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.05);
    }
}

.book-thumbnail {
    width: 100px;
    height: 140px;
    object-fit: cover;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.book-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 1.1rem;
    margin: 0 0 5px;
}

.book-author {
    font-size: 0.9rem;
    color: #666;
    margin: 0 0 10px;
}

.read-book-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-start;
}

.read-book-btn:hover {
    background-color: #0056b3;
}